.intro{
    background: linear-gradient(141deg, #0fb8ad 0%, #7d70a7 51%, #197496 75%);
    min-height: 653px;
}

.brandName {
    text-align: center;
    font-size: 20px;
    margin-top: 20%;
    color: #fff;
    font-weight: bold;
}

.loginLabel{
	color: #fff;
}

.home{
	text-align: right;
}

.home .fa {
	color: #fff;
	font-size: 22px;
	padding-top: 1%;
}